@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kosugi+Maru&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kosugi+Maru&family=Oswald:wght@200..700&family=Permanent+Marker&family=Racing+Sans+One&display=swap');

body {
  font-family: "Kosugi Maru", sans-serif;
  background-image: url('assets/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-family: "Bangers", system-ui;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#tokenForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#tokenForm label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

#tokenForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  resize: none;
}

#tokenForm button {
  font-family: "Bangers", system-ui;
  padding: 12px;
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#tokenForm button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05); /* ホバー時の拡大効果 */
}

#log {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* フル幅に設定 */
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 300px;
}

#log h2 {
  margin-top: 0;
  color: #ffffff;
}

.log-entry {
  margin-bottom: 10px;
  font-size: 16px;
}

.success {
  color: #90ee90; /* 成功メッセージの色 */
  background-color: rgba(144, 238, 144, 0.2); /* 成功メッセージの背景色 */
  padding: 5px; /* パディング */
  border-radius: 5px; /* 角を丸める */
}

.failure {
  color: #ff4d4d; /* 失敗メッセージの色 */
  background-color: rgba(255, 77, 77, 0.2); /* 失敗メッセージの背景色 */
  padding: 5px; /* パディング */
  border-radius: 5px; /* 角を丸める */
}

.info {
  color: #ffffff; /* 情報メッセージの色 */
  background-color: rgba(255, 255, 255, 0.1); /* 情報メッセージの背景色 */
  padding: 5px; /* パディング */
  border-radius: 5px; /* 角を丸める */
}

#downloadBtn {
  padding: 12px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

#downloadBtn:hover {
  background-color: #45a049;
  transform: scale(1.05); /* ホバー時の拡大効果 */
}