@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Bangers", system-ui;
  background-image: url('assets/background.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

h1 {
  font-family: "Bangers", system-ui;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  font-family: "Oswald", sans-serif;
  display: flex;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

#tokenForm {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#tokenForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

#tokenForm textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff4d4d;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

#tokenForm button {
  font-family: "Bangers", system-ui;
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tokenForm button:hover {
  background-color: #ff1a1a;
}

#log {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 66vh;
  margin-bottom: 20px;
}

#log h2 {
  margin-top: 0;
  color: #ffffff;
}

.log-entry {
  margin-bottom: 10px;
  font-size: 16px;
}

.placeholder {
  color: rgba(255, 255, 255, 0.5); 
  font-style: italic;
}

.success {
  color: #90ee90;
}

.failure {
  color: #ff4d4d;
}

#downloadBtn {
  font-family: "Bangers", system-ui;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#downloadBtn:hover {
  background-color: #ff1a1a;
}
