/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kosugi+Maru&family=Permanent+Marker&display=swap');

body {
  font-family: "Bangers", system-ui;
  background-image: url('assets/background.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

h1 {
  font-family: "Bangers", system-ui;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  font-family: "Kosugi Maru", sans-serif;
  display: flex;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

#validTokens,
#invalidTokens {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%;
  box-sizing: border-box;
  overflow-y: auto; 
  max-height: 400px; /* 高さを低く設定 */
  margin: 10px;
}

#validTokens h2,
#invalidTokens h2 {
  margin-top: 0;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

#validResponse,
#invalidResponse {
  color: #ffffff;
}

.log-entry {
  margin-bottom: 10px;
  font-size: 16px;
}

.success {
  color: #90ee90; /* 成功時の色 */
}

.failure {
  color: #ff4d4d; /* 失敗時の色 */
}

#tokenInput {
  padding: 10px;
  border-radius: 20px;
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.1); /* 背景色を調整 */
  border: 2px solid #ff4d4d;
  font-size: 16px;
  color: #ffffff;
}

#checkButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #ff4d4d; 
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

#checkButton:hover {
  background-color: #ff1a1a;
}
